.page {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;

  color: #777777;
  background-color: #fafafa;
}

.page-body {
  margin: 0 auto;
}

.container {
  max-width: 1160px;

  margin: 0 auto;
}

picture {
  font-size: 0;
  line-height: 0;
}