.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  font-size: 0;
  line-height: 0;

  list-style: none;

  margin: 0;
  padding: 25px 0;

  @media (min-width: $tablet-width) {
    width: 420px;
  }

  &__link {
    display: block;

    padding: 10px;

    transition: 0.3s;

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }
  }
}