.svg-facebook-icon-dims {
  width: 14px;
  height: 14px;
}

.svg-google-icon-dims {
  width: 25px;
  height: 25px;
}

.svg-twitter-icon-dims {
  width: 25px;
  height: 25px;
}

.svg-in-icon-dims {
  width: 25px;
  height: 25px;
}

.svg-basketball-icon-dims {
  width: 25px;
  height: 25px;
}

.svg-p-icon-dims {
  width: 25px;
  height: 25px;
}

.svg-instagram-icon-dims {
  width: 25px;
  height: 25px;
}